
*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: "Roboto Mono", monospace;
}

.tweet{
    border: 1px solid #2f3336;
    width: 600px;
    margin: 25px auto;
    padding: 0 16px;
}
.tweet-author{
    height: 48px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 15px;
}

.tweet-author > img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
}
.tweet-name{

    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.tweet-name{
    margin-left: 3px;
}
.tweet-username{
    font-size: 15px;
    color: #6e767d;
}
.tweet-content{
    padding: 12px 0;
}
.tweet-content > p{
    font-size: 23px;
    line-height: 28px;
    color: #fff;

}

.tweet-stats{
    height: 53px;
    display: flex;
    border-top: 1px solid #2f3336;
    align-items: center;
    font-size: 15px;
    color: #6e767d;
}

.tweet-stats > span {
    margin-right: 20px;
}
.tweet-stats >span > b {
    color: #fff;
}
.tweet-actions{
    height: 48px;
    display: flex;
    border-top: 1px solid #2f3336;
    color:#fff;
    align-items: center;
    justify-content: space-around;

}